* {
    box-sizing: border-box;
    
}

h1 {
    padding-bottom: 30px;
    text-align: center;
}

.row {
    width: 100%;
    position: relative;
   
}

.red {
    background-color: red;
    padding: 10px;
    position: relative;
    border:1px solid black;
    
}

.green {
    background-color: green;
    padding: 10px;
    position: relative;
    border:1px solid black;
    
    
}

.blue {
    background-color: blue;
    padding: 10px;
    position: relative;
    border:1px solid black;

}

p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
    color:white;
    font-family: cursive, sans-serif;
    font-weight: bold;
    text-align: justify;
}


.red h2 {
    position:absolute;
    top:0;
    right:0;
    margin: 0 0 10px 0;
    background: yellow;
    color: black;
    text-align: center;
    border:1px solid black;
    width: 40%;
}

.green h2 {
    position:absolute;
    top:0;
    right:0;
    margin: 0 0 10px 0;
    background: gold;
    color: black;
    text-align: center;
    border:1px solid black;
    width: 40%
}

.blue h2 {
    position:absolute;
    top:0;
    right:0;
    margin: 0 0 10px 0;
    background: orange;
    color: black;
    text-align: center;
    border:1px solid black;
    width: 40%
}


@media (min-width: 992px) {
    .red {
        width: 32%;
        height: 220px;
        float: left;
        margin: 5px;
        position: relative;
        left: 1%;
        
    }
    .green {
        width:32%;
        height: 220px;
        float: left;
        margin: 5px;
        position: relative;
        left: 1%;
        
    }
    .blue {
        width: 32%;
        height: 220px;
        float: left;
        margin: 5px;
        position: relative;
        left: 1%;
    }
    h2 {
        width: 30%;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .red {
        float: left;
        width: 49%;
        height: 220px;
        margin-right: 5px;
        position: relative;
        left: 0.8%;
    }
    
    .green {
        float: left;
        width: 49%;
        height: 220px;
        position: relative;
        left: 0.8%;
    }
    
    .blue {
        float: left;
        width: 98.5%;
        height: 220px;
        margin-top: 5px;
        position: relative;
        left: 0.8%;
    }
    
    .blue h2 {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .red {
        float: left;
        width: 90%;
        height: 220px;
        margin: 15px 0;
        position: relative;
        left: 5%;

    }

    .green {
        float: left;
        width: 90%;
        height: 220px;
        margin: 15px 0;;
        position: relative;
        left: 5%;
    }

    .blue {
        float: left;
        width: 90%;
        height: 220px;
        margin: 15px 0;
        position: relative;
        left: 5%;
    }

}